body {
  background:rgb(8, 8, 48);
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.randomNumberToGuess {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: white;
  border: none;
  font-size: 52px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  vertical-align: middle;
  z-index: 99;
}
input {
  width: 100px;
  height: 30px;
  outline: none;
}
#game-name {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;}
#question-mark {
  position: relative;
  top: 25px;
}
label {
  color: white;
  font-size: 32px;
  margin-left: 10px;
}
.stats {
  text-align: center;
}
.line {
  height: 2px;
  width: 40vw;
  background-color: aliceblue;
  margin: auto;
}
#key-header {
  display: flex;
  justify-content: center;
  gap: 0px;
}
main {
  width: fit-content;
  background: rgb(94, 0, 0);
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  /* box-shadow: 12px 8px 12px 8px rgb(20, 19, 19); */
}
#buttons{
  display: flex;
  place-content: center;
  width: 200px;
  margin: auto;
  padding: 5px;
  /* border: 1px solid blue; */
}
